<body class="nav-md">
  <script type="text/javascript">
    toastr.options = {
      closeButton: true, // Show close button
      timeOut: 0, // Set timeOut to 0 to make it sticky until user closes it
      extendedTimeOut: 0 // Set extendedTimeOut to 0 to make it sticky until user closes it
    };
    
    function showToast(message, type) {
      if (type === "info") {
        toastr.info(message);
      } else if (type === "success") {
        toastr.success(message);
      } else if (type === "error") {
        toastr.error(message);
      } else if (type === "warning") {
        toastr.warning(message);
      }
    }
  </script>

  <% if (typeof req.session !== undefined && req.session != null && req.session.alert_message != undefined && req.session.alert_message != null) { %> <% var alert_message = req.session.alert_message; %>
  <script type="text/javascript">
    showToast(
      "<%= alert_message['message']%>",
      "<%= alert_message['type']%>"
    );
  </script>
  <% delete req.session.alert_message; %>
  <% } %>

  <div class="container body">
    <div class="main_container">
 
 <!-- top navigation -->
 <div class="top_nav">
  <div class="nav_menu">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>
      <nav class="nav navbar-nav">
      <ul class=" navbar-right">
        <li class="nav-item dropdown open" style="padding-left: 15px;">
          <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" 
          id="navbarDropdown" data-toggle="dropdown" aria-expanded="false"
          style="display: flex; align-items: center;"
          >
            <div class="profile_custom_top">
    <% if (req && req.cookies && req.cookies.nama_pengguna) { %> <%=
      ambilInisialNama(req.cookies.nama_pengguna) %> <% } %>
            </div>
            <span style="font-size: 14px; font-weight: 600;"><% if (req && req.cookies && req.cookies.nama_pengguna) { %> <%=
              req.cookies.nama_pengguna %> <% } %></span>
          </a>
          <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
            <!-- <a class="dropdown-item"  href="javascript:;" style="font-size: 14px;"> Profile</a> -->
            <a class="dropdown-item"  href="/logout" style="font-size: 14px;"><i class="fa fa-sign-out pull-right" style="margin-top: 3px;"></i> Logout</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- /top navigation -->

<%
function ambilInisialNama(nama){

    // Split the user's name into words
    const nameWords = nama.split(' ');

    // Extract the first character of each word and concatenate them
    const initials = nameWords.map(word => word.charAt(0)).join('');

    return initials;
}
%>