<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0">
      <a href="/" class="site_title">
        <img
          src="images/logo-e-attendance-2.png"
          alt="logo"
          style="opacity: 0.8; max-width: 210px"
          class="full-logo"
        />
        <img
          src="images/logo-e-attendance.png"
          alt="logo"
          style="opacity: 0.8; max-width: 40px; margin-top: 10px"
          class="small-logo"
        />
      </a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <img
          src="images/profile/user3.png"
          alt="Pengguna 1"
          class="img-circle profile_img"
        />
      </div>
      <div class="profile_info">
        <h2>
          Pengguna 1
        </h2>
        <span
          >IT Support</span
        >
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li>
            <a href="/pengguna"><i class="fa fa-users"></i> Pengguna</a>
          </li>
          <li>
            <a href="/jabatan"><i class="fa fa-briefcase"></i> Jabatan</a>
          </li>
          <li>
            <a href="/absensi"><i class="fa fa-check-square-o"></i> Absensi</a>
          </li>
          <li>
            <a href="/laporan_absensi"
              ><i class="fa fa-files-o"></i> Laporan Absensi</a
            >
          </li>
          <li>
            <a href="/kegiatan"><i class="fa fa-list-alt"></i> Kegiatan</a>
          </li>
          <li>
            <a href="/laporan_kegiatan"
              ><i class="fa fa-archive"></i> Laporan Kegiatan</a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->
  </div>
</div>
