<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0">
      <a href="/" class="site_title">
        <img
          src="images/logo-e-attendance-2.png"
          alt="logo"
          style="opacity: 0.8; max-width: 210px"
          class="full-logo"
        />
        <img
          src="images/logo-e-attendance.png"
          alt="logo"
          style="opacity: 0.8; max-width: 40px; margin-top: 10px"
          class="small-logo"
        />
      </a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <div class="profile_custom_sidebar">
          <% if (req && req.cookies && req.cookies.nama_pengguna) { %> <%=
          ambilInisialNama(req.cookies.nama_pengguna) %> <% } %>
        </div>
        <!-- <img
          src="images/profile/user3.png"
          alt="Pengguna 1"
          class="img-circle profile_img"
        /> -->
      </div>
      <div class="profile_info">
        <h2>
          <% if (req && req.cookies && req.cookies.nama_pengguna) { %> <%=
          req.cookies.nama_pengguna %> <% } %>
        </h2>
        <span>
          <% if (req && req.cookies && req.cookies.jabatan) { %> <%=
          req.cookies.jabatan %> <% } %>
        </span>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br />

    <% var isAdmin = false; %>
    <% if (req && req.cookies && req.cookies.admin == "1") { isAdmin = true } %>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <%if(isAdmin) {%>
            <li>
              <a href="/pengguna"><i class="fa fa-users"></i> Pengguna</a>
            </li>
            <li>
              <a href="/jabatan"><i class="fa fa-briefcase"></i> Jabatan</a>
            </li>
            <li>
              <a href="/jenis_kegiatan"><i class="fa fa-edit"></i> Jenis Kegiatan</a>
            </li>
          <% }%>
          <li>
            <a href="/absensi"><i class="fa fa-check-square-o"></i> Absensi</a>
          </li>
          <%if(isAdmin) {%>
            <li>
              <a href="/laporan_absensi"
                ><i class="fa fa-files-o"></i> Laporan Absensi</a
              >
            </li>
          <% }%>
          <li>
            <a href="/kegiatan"><i class="fa fa-list-alt"></i> Kegiatan</a>
          </li>
          <%if(isAdmin) {%>
            <li>
              <a href="/laporan_kegiatan"
                ><i class="fa fa-archive"></i> Laporan Kegiatan</a
              >
            </li>
          <% }%>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->
  </div>
</div>

<% function ambilInisialNama(nama){ // Split the user's name into words const
nameWords = nama.split(' '); 
// Extract the first character of each word and concatenate them 
const initials = nameWords.map(word => word.charAt(0)).join(''); return initials; } 
%>
